@import './styles/index.scss';
//general styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: 'Agdasima', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}
a{
  text-decoration: none; 
}
//common style
.container{
  width: 93%;
  margin: 0 auto;

}

@media (max-width: 1024px){
  body{
    font-size: 8px !important;
  }
}