.section{
    height: calc(100vh - 180px);
    background: var(--black);
    width: 100% !important;
}
.container{
    padding: 7% 50px ;
}
.section__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__content__left{
    margin: auto;
}
.section__content__left__title{
    color: var(--white);
    font-size: 5rem;
    text-transform: capitalize;
    height: 70%;
}
.section__content__left__title .span{
    // background: -webkit-linear-gradient(#dd5e89 , #f7bb97);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
color: #DBB959;

}
html[data-theme="dark"] .section__content__left__title .span{
//   background: -webkit-linear-gradient( #35F29A, #1D3739);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
color: #DBB959;
}
.section__content__left__desc{
    padding: 20px 20px 20px 0;
    word-spacing: 4px;
    font-size: 1.1rem;
    color: var(--light-grey);
}
.section__content__left__btn{
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 12px 16px;
    text-transform: capitalize;
    margin: 0 5px;
    color: var(--white);
    cursor: pointer;
    transition: background .5s;
}

.section__content__left__btn.hireMe{
    // background: linear-gradient(#dd5e89,#f7bb97);
    border: none;
    background-color: #D8835A;
}
html[data-theme="dark"] .section__content__left__btn.hireMe{
//   background: linear-gradient( #35F29A, #1D3739);
}
.section__content__left__btn.download{
    border-radius: 0;
    border: solid 1px #D8835A;
//     border-image: linear-gradient(#92BD67,#f7bb97) 4;
//     border-image-outset: 0;
    background-color: transparent;
}
html[data-theme="dark"] .section__content__left__btn.download{
  background-image: linear-gradient( #D8835A, #1D3739) 4;

}
.section__content__left__btn.download:hover{
    background: rgba($color: #fff, $alpha: .3);
}

// .section__content__right{ }
.section__content__right__box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--skeleton);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.section__content__right__box_img{
    width: 70%;
    line-height: 70%;
    border-radius: 50%;
}
@media (max-width: 1024px){
    .section__content__left__title{
        font-size: 3.5rem;
    }
}
@media (max-width: 830px){
    .section{
        height: calc(90vh - 180px);
    }
    .section__content__left__title{
        font-size: 3rem;
    }
}

@media (max-width: 769px){
    .section{
        height: calc(100vh - 10vh);
    }
    .section__content{
        flex-direction: column;
    }
    .section__content__left{
        order: 2;
    }
    .section__content__left__title{
        font-size: 2rem;
    }
    .section__content__left__btn.hireMe{
        width: 100%;
        margin: 10px 0;
    }
    .section__content__left__btn.download{
        width: 100%;
    }
    .section__content__right{
        order: 1;
    }
    .section__content__right__box{
        width: 200px;
        height: 200px;
        margin: 10px 0;
    }
}
@media (max-width: 490px){
    .section{
        height: 88vh ;
    }
    .section__content__left__title{
        font-size: 2rem;
    }
    .section__content__right__box{
        width: 150px;
        height: 150px;
    }
   
}