.section{
    height: calc(100vh - 180px);
    background: var(--black);
}
.container{
    padding: 7% 50px ;
}
.section__content{
    display: flex;
    justify-content: space-between;
}
.section__content__left{
    margin: auto;
}
.section__content__left__title{
    color: var(--white);
    font-size: 5rem;
    text-transform: capitalize;
    height: 70%;
}
.section__content__left__title .span{
    background: -webkit-linear-gradient(#dd5e89 , #f7bb97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__content__left__desc{
    padding: 20px 20px 20px 0;
    word-spacing: 4px;
    font-size: 1.1rem;

}
.section__content__left__btn{
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 12px 16px;
    text-transform: capitalize;
    margin: 0 5px;
    color: var(--white);
    cursor: pointer;
    transition: background .5s;
}

.section__content__left__btn.hireMe{
    background: linear-gradient(#dd5e89,#f7bb97);
    border: none;
}
.section__content__left__btn.download{
    border-radius: 0;
    border-image: linear-gradient(#dd5e89,#f7bb97) 4;
    border-image-outset: 0;
    background-color: transparent;
}
.section__content__left__btn.download:hover{
    background: rgba($color: #fff, $alpha: .3);
}

.section__content__right{ }
.section__content__right__box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--skeleton);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.section__content__right__box_img{
    width: 70%;
    line-height: 70%;
    border-radius: 50%;
}